.mbshop-nav{
    float: none;
    margin:0 auto;
    overflow:hidden;
    width:1200px;
    height:auto;
    padding:15px 0 15px;
    clear:both;
    display: block!important;
}
.mbshop-nav a{
    color:#000;
    text-decoration:none;
    font:400 12px "微软雅黑","宋体",verdana;
}
.mbshop-active{
    padding-top:10px;
    clear:left;
    position:relative;
}

.mbshop-searchOption{
    width:1198px;
    margin:10px auto 15px;
    display:block;
    
    border:1px solid #ccc;
}
.mbshop-searchItem{
    width:1158px;
    overflow: hidden;
    margin:10px 0 0 20px;
}
.mbshop-searchItem span{
    width:50px;
    float:left;
    border-right:1px solid #ccc;
    font-size:12px;
}
.mbshop-searchItemContent{
    width:1038px;
    height:21px;
    float:left;
    /* overflow-y:hidden; */
}
.mbshop-searchItemContent a {
    width:auto;
    float:left;
    display:block;
    margin:0 0 10px 20px;
    padding:0;
}
.mbshop-searchItemContent a i{
    font:400 12px "微软雅黑","黑体","宋体",verdana;
    float:left;
    text-transform:capitalize;
    color:#000;
}
.new-mbshop-pricequjian{
    width:auto;
    height:auto;
    color:#ccc;
    margin-left:40px;
    float: left;
    display: block;
}
.new-mbshop-pricequjian input[type=text]{
    width:35px;
    height:13px;
    border-color:#ccc;
    color:#333;
    text-align:center;
    float:left;
    border: 1px solid #b0b0b0;
    padding: 2px 5px;
}
.new-mbshop-pricequjian b {
    font-weight:400;
    float: left;
    padding: 0 5px;
}
.new-mbshop-pricequjian input[type=button]{
    width: 45px;
    height: 19px;
    border: 1px solid #ccc;
    color: #000;
    background-color:#F5F5F5;
    text-align:center;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 2px;
}
.search-box{
    width:978px;
    height: 36px;
    position: relative;
}
.search-box b{
    float: left;
    font-family: "微软雅黑";
    margin: 12px 0 0 20px;
    font-style: normal;
    font-weight: 400;
}
.mbshop-searchItemshuxing{
    width:auto;
    float:left;
    margin: 10px 0 0 20px;
}
.mbshop-new-searchItemOption{
    float: left;
    display: block;
    width: auto;
    height: 30px;
}
.mbshop-new-searchItemOption-menu{
    width: 55px;
    height: auto;
    padding: 3px 25px 2px 10px;
    float: left;
    display: block;
    background:url(//s.banggo.com/pub7/images/mbshop/veoimg/Veo_mbshop_spirit_pic.png?t=20160603) 
    73px -66px no-repeat #fff;
    cursor: pointer;
    border: 1px solid #B5B5B5;
    border-radius:3px;
}
.mbshop-new-searchItemOption-menu a{
    color: #000;
    text-decoration: none;
}
.mbshop-new-searchItemOption-menu i {
    font-style: normal;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden!important;
    float: left;
    text-align: center;
}
.mbshop-new-searchItemOption-menu em{
    width: 90px;
    height: 10px;
    background-color: #fff;
    bottom: -9px;
    position:absolute;
    z-index: 20;
    left:0;
    display: none;
}
.mbshop-new-searchItemOption-box{
    display: none;
    position: absolute;
    width: 980px;
    height: auto;
    border: 1px solid #B5B5B5;
    background-color: #fff;
    top: 34px;
    left: -1px;
    box-shadow: 0 0 5px #ccc;
    border-top: 0;
    box-sizing: border-box;
}
.mbshop-new-searchItemOption-box a{
    float: left;
    display: block;
    width: 90px;
    margin-top: 5px;
    padding: 3px 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#000;
    text-decoration: none;
}