.logo{
    width:980px;
    height:100px;
    margin:0 auto;
}
.zhuce_top{
    width:980px;
    margin:0 auto;
    border-bottom:2px solid #6e6e6e;
    margin-bottom:10px;
}
.zhuce_top a{
    display: block;
    width:160px;
    height:26px;
    line-height:26px;
    text-align:center;
    background:#6e6e6e;
    border-radius: 5px 5px 0 0;
    color:white;
    text-decoration:none;
    
}
.zhuce_box{
    width:978px;
    height:326px;
    border:1px solid #ccc;
    margin:0 auto;
}
.zhuce_left{
    width:743px;
    height:276px;
    padding:20px 0 30px 15px;
    float:left;
    font-size:14px;
}
.zhuce_left h1{
    width:100%;
    float:left;
    border-bottom:1px dotted #e6e6e6;
    font-size:14px;
    text-indent:10px;
    line-height:30px;
}
.user,.verify{
    width:80px;
    line-height:28px;
    margin-top:15px;
    float:left;
    text-align:right;
}
.user1,.verifyNum{
    float:left; 
    margin-top:15px;
    position: relative;
}
.user1 input{
    width:240px;
    padding:0 5px 0 0;
    border:1px solid #ababab;
    height:28px; 
    float:left;  
}
.verifyNum input{
    width:120px;
    height:28px;
    float:left;
}
.verifyNum .vf{
    font-size:20px;
    color:green;
    width:110px;
    height:30px;
    float:left;
    line-height:30px;
    text-align:center;
}
.zhuce_left p{
    display:none;
    position: absolute;
    top:32px;
    left:0px;
    color:red;
    font-size:10px;
}
.zhuce_left span{
    display:inline-block;
    width:305px;
    color:#999;
    font-size:12px;
    margin: 3px 30px 0 10px;
    float:right;
}
#fsbtn{
    width:152px;
    height:34px;
    border-radius:5px;
    border:none;
    background:red;
    line-height:34px;
    text-align:center;
    color:white;
    float:left;
    margin: 31px 61px 10px 176px;
}
.zhuce_right{
    width:200px;
    height:320px;
    float:right;
}
.zhuce_right h1{
    font-size:16px;
    color:red;
    width:100%;
    text-align:center;
    line-height: 72px;
    border-bottom:2px dotted #ccc;
    float:left;
    height:50.4px;
}
.zhuce_right p{
    font-size:12px;
    overflow:scroll;
    width:100%;
    height:250px;
    color:pink;
}